/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  /* background-color: #fff9c4; Light yellow */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  max-width: 500px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;

  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
.joyride-step__content {
  display: block !important; 
  color: #ffffff; 
  padding: 8px; 
  font-size: 14px; 
} */

.joyride-step__container {
  background-color: #ffffff !important;
  border-radius: 12px !important;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2) !important;
  padding: 20px !important;
  padding-top: 30px !important;
  color: #333 !important;
  font-family: "Segoe UI", sans-serif;
  height: fit-content !important;
}

.joyride-backdrop {
  background-color: rgba(
    34,
    148,
    194,
    0.6
  ) !important; /* dark semi-transparent */
}

/* Title */
.joyride-step__title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #067bad !important;
}

.joyride-step__body {
  padding-bottom: 25px !important;
}

/* Buttons */
.joyride-button {
  background-color: #067bad !important;
  /* color: white !important; */
}
.joyride-button:hover {
  background-color: #ffffff !important;
  color: #067bad !important;
  border-color: #067bad !important;
}

.mat-stepper-horizontal {
  width: fit;
  max-width: 80vw; /* Prevents it from exceeding the screen width */
  overflow-x: hidden; /* Hides any potential overflow */
}

.welcome-card {
  max-width: 500px;
  /* padding: 1rem; */
  margin: 2rem;
  border-radius: 8px;

  background: #ffffff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

