.completed-habit {
    color: darkgreen;
  }

.habit-div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 7px;
  }

  .hover-div {
    padding: 10 px;
      font-size: 18px;
      cursor: pointer; /* Changes mouse icon to hand */
  }

//   # find a way that when you change cssname you either only need to change it once gloablly or it changes everywhere automatically